<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Koa | Accomplishments</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="icon" href="images/favicon.png">
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">JUSTINE KOA</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="black-text" href="/myworld">My World</a></li>
        <li><a class="black-text" href="/accomplishments">Accomplishments</a></li>
        <li><a class="black-text" href="/projects">Projects</a></li>
        <li><a class="black-text" href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>

        <div class="header center"><img class="profile-pic circle responsive-img" src="https://scontent.fsnc1-1.fna.fbcdn.net/v/l/t1.0-9/13900057_1167548273287121_6578113920495155826_n.jpg?oh=be354889aa441ddbc84ae2c46d61b821&oe=5858BB35">
        </div>

        <h1 class="header center white-text text-darken-2">ACCOMPLISHMENTS</h1>
        <div class="row center">
        </div>
        <div class="row center">
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="images/beach.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

       <div class="row">
         <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/dublinhigh.jpg">
              <span class="card-title">Dublin High School</span>
            </div>
            <div class="card-content">
              <p>High School Cumulative GPA: 4.71 <br> CSF Member 2013-Present <br> Student Leadership 2013-2016 <br> Class President 2013-14 </p>
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/interact.jpg">
              <span class="card-title">Interact D5170 A3</span>
            </div>
            <div class="card-content">
              <p>Dublin High Interact Club Vice President 2015-Present <br> Attended FLC 2015 <br> Attended RYLA 2016
              </p>
            </div>
            <div class="card-action">
              <a href="http://www.interact5170.org/" target="_blank">Interact D5170</a>
            </div>
          </div>
        </div>

         <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/redcross.jpg">
              <span class="card-title">Red Cross Bay Area Chapter</span>
            </div>
            <div class="card-content">
              <p>Dublin High Red Cross Club Publicist 2014-15 <br> Dublin High Red Cross Club President 2015-Present <br> Organized 7 Successful Blood Drives <br> Certified Red Cross Pillowcase Project Instructor</p>
            </div>
            <div class="card-action">
              <a href="http://www.redcross.org/local/california/northern-california-coastal/chapters/bay-area" target="_blank">Red Cross Bay Area Chapter</a>
            </div>
          </div>
        </div>


      </div>

       <div class="row">
         <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/karlie.jpg">
              <span class="card-title">Kode with Klossy 2016</span>
            </div>
            <div class="card-content">
              <p>Accepted and succesfully completed the <a href="http://kodewithklossy.com/">Kode with Klossy</a> summer code camp! Check out information on a website I took part in coding while I was there on my "Projects" page!</p>
            </div>
            <div class="card-action">
              <a href="https://www.youtube.com/watch?v=B9mEj7kszLY" target="_blank">My Video Application</a>
            </div>
          </div>
        </div>

          <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/ryla.jpg">
              <span class="card-title">RYLA June 2016</span>
            </div>
            <div class="card-content">
              <p>Attended the Rotary Youth Leadership Awards camp for Dublin High's Interact</p>
            </div>
            <div class="card-action">
              <a href="http://ryla5170.com/" target="_blank">More About RYLA</a>
            </div>
          </div>
        </div>
      <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/fmp.jpg">
              <span class="card-title">Freshman Mentor 2015-16</span>
            </div>
            <div class="card-content">
              <p>I was lucky enough to be apart of the Freshman Mentor Program at Dublin High! I mentored 22 freshmen alongside 3 other upperclassmen. As a mentor, I met up with them for 20 minutes every Monday through Thursday to provide school and social advice.</p>
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>


 <div class="row">
         <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="images/totes.jpg">
              <span class="card-title">Totes for Boats</span>
            </div>
            <div class="card-content">
              <p>In November 2013, hurricane Haiyan hit the Philippines and hurt a countless amount of families who relied on fishing as a source of income. I worked to sell totes around my community to raise enough money to build a boat and help a family out. I even got to name the boat after my school, Dublin High. </p>
            </div>
            <div class="card-action">
            </div>
          </div>
        </div>
  </div>

      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 bold">To be continued...</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/beach.jpg" alt="Unsplashed background img 2"></div>
  </div>

    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
