<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Koa | Projects</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="icon" href="images/favicon.png">
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">JUSTINE KOA</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="black-text" href="/myworld">My World</a></li>
        <li><a class="black-text" href="/accomplishments">Accomplishments</a></li>
        <li><a class="black-text" href="/projects">Projects</a></li>
        <li><a class="black-text" href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>

        <div class="header center"><img class="profile-pic circle responsive-img" src="https://scontent.fsnc1-1.fna.fbcdn.net/v/l/t1.0-9/13900057_1167548273287121_6578113920495155826_n.jpg?oh=be354889aa441ddbc84ae2c46d61b821&oe=5858BB35">
        </div>

        <h1 class="header center white-text text-darken-2">Projects</h1>
        <div class="row center">
        </div>
        <div class="row center">
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="images/bakerbeach.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">


       <div class="col s12 m7">
    <h2 class="header">Flabuless - Web App</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="images/flabuless.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>July 2016 <br> I created Flabuless with two other ladies during Kode with Klossy! This project was my first exposure to Ruby, HTML, and CSS. With this app, you can customize your workouts depending on your level, intensity, time, and goal.</p>
        </div>
        <div class="card-action">
          <a href="http://flabuless.herokuapp.com/" target="_blank">flabuless.herokuapp.com</a>
        </div>
      </div>
    </div>
  </div>





      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 bold">To be continued...</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/bakerbeach.jpg" alt="Unsplashed background img 2"></div>
  </div>
    </div>
  </div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>